.nav{

    display: flex;
    height:60px;
    align-items: center;
    justify-content: center;
    gap: 7px;
    background-color: #e38484;
}


.nav >img{
    height:26px;
}
.nav >h2{
    color: aliceblue;
    font-size: 25px;
    font-family: 'Stylish', sans-serif;
     line-height: 18px;
letter-spacing: -0.075em;

}